* {
    margin: 0;
    padding: 0;
    /* 內减模式 */
    box-sizing: border-box;
}

.wrapper{
    width: 1535px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }
  .clearfix:after {
    clear:both;
  }

body {
    background-color: #f3f5f7;
    background-image: url(../images/background.jpg);
    background-position: center 0; 
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 100vh;
}

.left{
    width: 700px;
    /* border: 1px solid black; */
    float: left;
}

.head{
    height: 90px;
    width: 400px;
    /* border: 1px solid black; */
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.head h1{
    font-size: 80px;
    text-align: center;
    line-height: 90px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.address{
    height: 60px;
    width: 400px;
    margin-left: 50px;
    /* border: 1px solid black; */
    padding-left: 45px;
}

.address p{
    color: blue;
    text-align: left;
    line-height: 60px;
    float: left;
    font-size: 22px;
}

.address a{
    display: block;
    float: left;
    line-height: 60px;
    font-size: 20px;
}

.people{
    height: 50px;
    width: 400px;
    margin-left: 50px;
    /* border: 1px solid black; */
    padding-left: 45px;
    margin-top: 30px;
}

.people .title{
    float: left;
    color: blue;
}
.people p{
    line-height: 50px;
}

.goods{
    height: 100px;
    width: 400px;
    margin-left: 50px;
    /* border: 1px solid black; */
    padding-left: 45px;
    margin-top: 30px;
}

.goods p{
    float: left;
    color: blue;
}

.goods .tab{
    margin-left: 80px;
}

.phone{
    height: 60px;
    width: 400px;
    margin-left: 50px;
    /* border: 1px solid black; */
    padding-left: 45px;
    margin-top: 10px;
}

.phone .title{
    color: blue;
    float: left;
}

.help{
    border:2px solid;
    border-radius:25px;
    background-color: blue;
    opacity: 0.8;
    height: 70px;
    width: 150px;
    /* display: block; */
    margin-top: 100px;
    margin-left: 300px;
}

.help a{
    color: black;
    text-align: center;
    display: block;
    font-size: 35px;
    line-height: 70px;
    font-weight: 800;
}

.right{
    width: 700px;
    height: 780px;
    /* border: 1px solid black; */
    float: right;
}
.right textarea{
    width: 600px;
    height: 600px;
    overflow-y: auto;
    resize: none;
    opacity: 0.5;
    font-size: 30px;
    color: blue;
    margin-top: 40px;
}