* {
    margin: 0;
    padding: 0;
}

body{
	width: 100%;
	min-width: 1200px;
	background: rgb(231, 231, 231);
	background-size: 100% 100%;
	
}

input:focus{
	outline: none;
}

.main_screen{
	margin: auto;
	width: 1000px;
	height: 1250px;
	border-left: 50px solid #ffffff;
	border-right: 50px solid #ffffff;
	background: #ffffff;
	
}


/* 标题到此开始 */

.logo{
	float: left;
	width: 50px;
	height: 50px;
}

.logo > img{
	margin: auto;
	margin-left: 20px;
	width :50px ;
	height :50px;
}

.topic{
	margin-bottom: 10px
}

.topic_text{
	margin-left: 120px;
	color: #38b6ff;
}



.header{
	margin:auto;
	z-index: 10;
	width: 1000px;
	height: 50px;
	background-color: rgb(56, 182, 255);
	

}

.user{
	float: right;
	width: 50px;
	height: 50px;
	/* 设置盒子内元素居中 */
}

.user >img{
	margin: auto;
	width :45px ;
	height :45px;
}

.title{
	float: left;
	margin-left: 30px;
}

a{	
	text-decoration: none; /*让下划线消失*/
	color: #000;
}

.title > a :hover{
	background-color: #0094cb;
}


.title > a > div{
	text-align: center;
	height: 49px;
}

.title > a > div > p{
	padding: 13px 10px;
	font-size: 18px;
}

.title > a {
	float: left;
	display: block;
	text-align: center;
	height: 100%;
	font-size: 18px;
	padding-left: 24px;
	color: #ffffff;
}

.research{
	float: right;
	height: 30px;
	width: 200px;
	background-color: #fff;
	margin: 10px 0px;
	margin-right: 25px;
	border-radius: 50px;
}

.research > form > input{
	width: 120px;
	border: none;
	margin: 8px 15px;
}

.research > form > input:focus{
	outline: none;
}



.research > form > img{
	float: right;
	margin: 5px;
	border-radius: 50%;
	border: none;
	height: 22px;
	width: 22px;
}

.research > form > img:hover{
	cursor: pointer;
}


.information{  /*个人空间提示框开始 */
	position: relative;
	text-align: center;
	display: none;
	width: 100px;
	right: 50px;
	z-index: 88;
	background-color: #38b6ff;
	color: #ffffff;
	border: 1px solid #ffffff;
}
.information:hover{
	background-color: rgb(0, 148, 203);
}

.user:hover .information{
	display: block;
}


/* 标题到此结束 */

/* 模糊背景图开始 */
.dim{
	background: url("../注册页面/image/123456.png");
	background-size: cover;
	width: 1000px;
	height: 70px;
}

/* 模糊背景图结束 */

/* 用户头像开始 */
.user_image{
	position: absolute;
	top: 120px;
	margin-left: 460px;
	background: url("../注册页面/image/user.png");
	background-size: cover;
	height: 80px;
	width: 80px;
}
/* 用户头像结束 */

.content{
	background-color: #f8f8f8;
	border-radius: 10px;
	margin: auto;
	margin-top: 80px;
	width: 800px;
	height: 660px;
    border: 1px solid #d9d9d9;
    box-shadow: 2px 2px 10px #a3a3a3;
}
.info{
    width: 700px;
    height: 60px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 50px;
}
.info img{
    height: 60px;
    float: left;
    margin-left: 30px;
}
.info textarea{
    height: 53px;
    width: 500px;
    float: right;
    margin-right: 50px;
    margin-top: 2px;
    font-size: 40px;
    line-height: 53px;
    resize: none;
    border-radius: 10px;
    background-color: #d9d9d9;
}






















