* {
    margin: 0;
    padding: 0;
    /* 內减模式 */
    box-sizing: border-box;
}

.wrapper{
    width: 1535px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }
  .clearfix:after {
    clear:both;
  }

body {
    background-color: #f3f5f7;
    background-image: url("../image/background.jpg");
    background-position: center 0; 
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 100vh;
}

.body1{
    height: 150px;
    /* border: 1px solid black; */
}
.body1 h1{
    text-align: center;
    line-height: 150px;
    color: #4892e3;
    font-size: 100px;
    font-family: "Times New Roman",Georgia,Serif;
}

.body2{
    height: 550px;
    /* border: 1px solid black; */
    padding-top: 120px;
    padding-right: 200px;
}




.body2 .in2{
    width: 839px;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius:25px;
    background-color: #4892e3;
}
.in2 img{
    /* width: 80px; */
    height: 77px;
    float: left;
    margin-left: 23px;
}

.in2 textarea{
    height: 77px;
    width: 600px;
    font-size: 40px;
    line-height: 77px;
    color: pink;
    background-color: #4892e3;
    border: none;
    overflow-y: auto;
    resize: none;
}
.body2 .in3{
    width: 839px;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius:25px;
    background-color: #4892e3;
}
.in3 img{
    /* width: 80px; */
    height: 77px;
    float: left;
    margin-left: 23px;
}

.in3 textarea{
    height: 77px;
    width: 600px;
    font-size: 40px;
    line-height: 77px;
    color: pink;
    background-color: #4892e3;
    border: none;
    overflow-y: auto;
    resize: none;
}
.body2 .in4{
    width: 839px;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius:25px;
    background-color: #4892e3;
}
.in4 img{
    /* width: 80px; */
    height: 77px;
    float: left;
    margin-left: 23px;
}

.in4 textarea{
    height: 77px;
    width: 700px;
    font-size: 40px;
    line-height: 77px;
    color: pink;
    background-color: #4892e3;
    border: none;
    overflow-y: auto;
    resize: none;
}
.body2 .in5{
    width: 839px;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius:25px;
    background-color: #4892e3;
}

.in5 img{
    /* width: 80px; */
    height: 77px;
    float: left;
    margin-left: 23px;
}

.in5 textarea{
    height: 77px;
    width: 700px;
    font-size: 40px;
    line-height: 77px;
    color: pink;
    background-color: #4892e3;
    border: none;
    overflow-y: auto;
    resize: none;
}